.title {
    font-size: 1.8em;
    font-weight: 400;
    font-style: italic;
}
.eventList {
    height: 700px;
    padding: 0 30px;
    overflow: auto;
}

.addButton {
    font-size: 1.5em;
    line-height: 1.5em;
    max-width: 330px;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 40px 10px 40px;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(223, 223, 223, 0.596);
}

.addButton:hover {
    background-color: rgb(238, 97, 97);
}

.event {
    font-size: 1.5em;
    line-height: 1.5em;
    max-width: 230px;
    font-weight: 400;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px 10px;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.979);
  }

  .event:hover {
    background-color: rgb(243, 143, 143);
  }

  .selected {
    background-color: rgba(207, 232, 253, 0.979);
  }