.container {
    display: flex;
    gap: 20%;
    padding-left: 10%;
    padding-top: 5%;
}

.title {
    padding-top: 10px;
}

.column{
    background-color: aliceblue;
    min-width: 150px;
    min-height: 300px;
    align-items: center;
    text-align: center;
    border-radius: 1rem;

}