.container {
    display: flex;
    gap: 20%;
    padding-left: 10%;
    padding-top: 5%;
}

.title {
    padding-top: 10px;
}

.column{
    background-color: aliceblue;
    width: 250px;
    height: fit-content;
    min-width: 250px;
    min-height: 150px;
    max-width: 250px;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

.addButton {
    font-size: 1.5em;
    width: 220px;
    border-radius: 0.5rem;
    margin: 10px 15px 10px 15px;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(211, 210, 210);
}

.addButton:hover {
    background-color: rgb(238, 97, 97);
}